<app-nav-bar></app-nav-bar>
<div class="container-fluid">
  <div class="flex-xl-nowrap">
    <h2>Frutas</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Id de usuario</th>
          <th>Titulo</th>
          <th>Descripcion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fruit of actualFruits">
          <td>{{fruit.id}}</td>
          <td>{{fruit.name}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <div class="pagination-posts">
              <button class="btn btn-primary paginator" (click)="previousPage()" [disabled]="page === 0">Anterior</button>
              <button class="btn btn-primary foot" (click)="nextPage()" [disabled]="page === (totalPages - 1)">Siguiente</button>
              <span class="foot">Pagina {{page + 1}} de {{totalPages}}</span>
            </div>

          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
